@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FiraMono';
  font-weight: 400;
  src: url('./assets/fonts/FiraMono-Regular.ttf');
}
@font-face {
  font-family: 'FiraMono';
  font-weight: 500;
  src: url('./assets/fonts/FiraMono-Medium.ttf');
}
@font-face {
  font-family: 'FiraMono';
  font-weight: 700;
  src: url('./assets/fonts/FiraMono-Bold.ttf');
}

body {
  @apply bg-dark text-gray1;
}

.app {
  @apply mx-auto max-w-6xl;
}

.section-title {
  @apply text-4xl font-semibold;
}

/* HEADER */

.header {
  @apply py-5;
}

.header-link {
  @apply flex items-center gap-2 font-medium;
}

/* INTRO SECTION */

.section-intro {
  @apply grid grid-cols-2 items-center gap-4 py-40;
}

.intro-title {
  @apply text-6xl font-bold;
}

.intro-vite {
  @apply block;
  background: -webkit-linear-gradient(90deg, #ba38fe, #50bfff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-desc {
  @apply mt-4 text-2xl text-gray2;
}

.intro-logo {
  @apply mx-auto w-1/2;
  filter: drop-shadow(0 0 96px #646cffff);
}

.intro-code {
  @apply mt-6 inline-block rounded-lg bg-dark2 p-4 pr-12;
}

/* FEATURES SECTION */

.section-features {
  @apply py-10;
}

.features-list {
  @apply mt-10 grid grid-cols-3 gap-4;
}

.features-item {
  @apply rounded-xl bg-dark2;
}

.features-box {
  @apply p-6;
}

.features-title {
  @apply mb-2 mt-5 font-medium;
}

.features-desc {
  @apply text-sm text-gray2;
}

.features-icon {
  @apply h-12 w-12 rounded-md bg-dark p-3;
}

/* FOOTER */

.footer {
  @apply mt-8 border-t border-t-dark2 py-6 text-center;
}
