@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FiraMono';
  font-weight: 400;
  src: url('./assets/fonts/FiraMono-Regular.ttf');
}
@font-face {
  font-family: 'FiraMono';
  font-weight: 500;
  src: url('./assets/fonts/FiraMono-Medium.ttf');
}
@font-face {
  font-family: 'FiraMono';
  font-weight: 700;
  src: url('./assets/fonts/FiraMono-Bold.ttf');
}

body {
  @apply bg-dark text-gray1;
}

.app {
  @apply max-w-6xl mx-auto;
}

.section-title {
  @apply font-semibold text-4xl;
}

/* HEADER */

.header {
  @apply py-5;
}

.header-link {
  @apply flex items-center gap-2 font-medium;
}

/* INTRO SECTION */

.section-intro {
  @apply grid grid-cols-2 gap-4 py-40 items-center;
}

.intro-title {
  @apply text-6xl font-bold;
}

.intro-vite {
  @apply block;
  background: -webkit-linear-gradient(90deg, #ba38fe, #50bfff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-desc {
  @apply text-2xl text-gray2 mt-4;
}

.intro-logo {
  @apply w-1/2 mx-auto;
  filter: drop-shadow(0 0 96px #646cffff);
}

.intro-code {
  @apply bg-dark2 p-4 pr-12 rounded-lg mt-6 inline-block;
}

/* FEATURES SECTION */

.section-features {
  @apply py-10;
}

.features-list {
  @apply grid grid-cols-3 gap-4 mt-10;
}

.features-item {
  @apply bg-dark2 rounded-xl;
}

.features-box {
  @apply p-6;
}

.features-title {
  @apply mb-2 mt-5 font-medium;
}

.features-desc {
  @apply text-gray2 text-sm;
}

.features-icon {
  @apply h-12 w-12 p-3 bg-dark rounded-md;
}

/* FOOTER */

.footer {
  @apply py-6 border-t border-t-dark2 mt-8 text-center;
}
