@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FiraMono';
  font-weight: 400;
  src: url('./assets/fonts/FiraMono-Regular.ttf');
}
@font-face {
  font-family: 'FiraMono';
  font-weight: 500;
  src: url('./assets/fonts/FiraMono-Medium.ttf');
}
@font-face {
  font-family: 'FiraMono';
  font-weight: 700;
  src: url('./assets/fonts/FiraMono-Bold.ttf');
}

@layer base {
  body {
    @apply bg-dark text-gray1;
  }
}

@layer components {
  .container {
    @apply mx-auto px-4 md:max-w-3xl lg:max-w-6xl;
  }
  .section {
    @apply py-10;
  }
  .section-title {
    @apply text-3xl font-semibold sm:text-4xl;
  }
}

.background-img {
  background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
  filter: blur(5rem);
}

.intro-vite {
  @apply block;
  background: -webkit-linear-gradient(90deg, #ba38fe, #50bfff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
